* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.boss {
  background-color: #f4f5f7;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

button:active {
  color: #ffff;
  background-color: #2230d2;
}

.buttonm:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

.buttonm:active {
  color: #ffff;
  background-color: #2230d2;
}

.social {
  list-style-type: none;
  display: flex;
}

.social > li {
  margin: 15px 22px 5px 0;
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h5 img {
    margin-bottom: -10px;
  }

  .ham {
    display: none;
  }

  .logo {
    color: #6070ff;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  .logo:hover {
    transform: rotate(1080deg);
    transition: 10s;
    cursor: pointer;
  }

  ul li a img {
    width: 10px;
    height: 10px;
  }

  ul li a {
    padding: 1px;
  }

  .intro > img {
    right: 0;
    margin: auto;
    z-index: 1;
    height: 50vh;
    width: 100%;
    position: absolute;
  }

  .top-ground1 {
    display: none;
  }

  .canopy > img {
    width: 2%;
    height: 2%;
    margin-top: 0.5%;
  }

  .js > img {
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }

  .myself > img {
    right: 0;
    margin: auto;
    z-index: 1;
    height: 50vh;
    width: 100%;
    position: absolute;
  }

  .pop-canopy img {
    width: 24px;
    height: 24px;
    margin-top: 40px;
    margin-right: 32px;
  }

  .pop-img img {
    margin-left: 24px;
    width: 97%;
  }

  .data-img img {
    width: 100%;
    padding: 1%;
  }

  .pop-button button img {
    vertical-align: middle;
  }

  .nature > img:hover {
    transform: scale(1.05);
  }

  input[type="text"] {
    padding: 10px;
    margin-top: 16px;
  }

  input[type="email"] {
    padding: 10px;
    margin-top: 14px;
  }

  input[type="text"]:hover {
    transform: skewX(20deg);
    cursor: pointer;
  }

  input[type="email"]:hover {
    transform: skewX(20deg);
    cursor: pointer;
  }

  textarea {
    width: 76%;
    margin: 14px 12% 2.2% 12%;
    height: 5.5rem;
    padding-left: 10px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 42px;
    text-align: center;
    background-color: white;
  }

  #navbar1 {
    display: none;
  }

  .ground {
    display: none;
  }

  .nature1 {
    display: none;
  }

  .container {
    list-style-type: none;
    display: flex;
  }

  div ul li {
    padding: 4.5px 5px;
    border-radius: 5px;
    background-color: white;
  }

  nav ul li {
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
  }

  .container > li {
    margin: 0 1rem;
    cursor: pointer;
  }

  .container > li > a {
    text-decoration: none;
    color: #344563;
  }

  .master {
    background-color: white;
    padding: 1% 0% 3% 2%;
    border-radius: 0 0 0 70px;
    margin-bottom: 120px;
  }

  .see {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    line-height: 40px;
  }

  .material {
    margin: 10% 15%;
    margin: 10% 16%;
  }

  .software {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin: 5px 0 15px 0;
  }

  .connect {
    font-size: 10px;
    font-weight: 500;
    line-height: 4px;
    text-align: left;
    color: #7f8cff;
  }

  .social li {
    margin: 5px 2px 0 0;
    padding: 5px 10px 0 0;
    background-color: white;
  }

  .social li a {
    width: 5px;
    height: 5px;
  }

  .container li {
    margin: 0 0.4rem;
  }

  /* <!-- ------------  Tonic  ------------ --> */

  /* ------------pop--------------- */
  .data-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .data-boss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
    margin: 0 100px;
  }

  .data-img:nth-child(3) .data-img {
    grid-column: 2 / 3;
    grid-row: 1 / span2;
  }

  .data-header {
    margin-left: 8px;
    padding: 5%;
  }

  /* ----------------pop---------------- */

  .photo {
    display: grid;
    grid-template-rows: auto;
    order: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 30vh;
    background: white;
    border-radius: 16px;
  }

  .data-header h3 {
    color: var(--neutrals-n-800, #172b4d);
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }

  .data-canopy {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .data-canopy h6,
  div {
    color: var(--neutrals-n-100, #7a869a);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }

  .pop-canopy h6,
  div {
    color: var(--neutrals-n-100, #7a869a);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
  }

  .data-canopy h6:nth-child(1) {
    color: var(--neutrals-n-600, #344563);
    text-transform: uppercase;
  }

  .data-para {
    color: var(--neutrals-n-600, #344563);
    font-size: 15px;
    line-height: 24px;
    margin-top: 10px;
  }

  .icon li {
    padding: 1px 1px 0 0;
    background-color: white;
    list-style-type: none;
  }

  .dan > li {
    list-style-type: none;
    display: block;
  }

  .fan > li {
    list-style-type: none;
  }

  .fan > li > a {
    float: left;
    background-color: #f7f7f9;
    margin: 0 2% 0 0;
    padding: 6px 5px 7px 5px;
    border-radius: 5px;
  }

  .fan li {
    float: left;
    background-color: #f7f7f9;
    margin: 0 2% 0 0;
    width: 60px;
    border-radius: 5px;
  }

  .icon li a {
    width: 8px;
    height: 8px;
    display: flex;
    padding: 10%;
    border-radius: 0 70px 0 0;
  }

  .languages ul {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .languages ul li {
    list-style: none;
    color: var(--primary-b-400, #6070ff);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    padding: 4px;
  }

  .button-cd {
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    padding: 12px;
    background: #fff;
    cursor: pointer;
  }

  .button-cd:hover {
    color: #fff;
    background: var(--theme-1-primary-colors-2, #6070ff);
  }

  .button-cd:active {
    color: #fff;
    background: var(--theme-1-primary-colors-1, #2230d2);
  }

  /* ___________ popup---------------- */

  /* Popup Window */
  .popup-win-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    z-index: 99999;
    overflow-y: auto;
  }

  .pop-data-container {
    border-radius: 16px;
    border: 1px solid var(--neutrals-n-30-l, #ebecf0);
    background: var(--white, #fff);
    box-shadow: 0 48px 48px 0 rgba(37, 47, 137, 0.08);
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .open-window {
    display: block;
  }

  .pop-canopy {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-left: 30px;
    align-items: flex-end;
  }

  .pop-canopy h2 {
    color: var(--theme-1-neutrals-1, #091e42);
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 24px;
    margin-left: 24px;
  }

  .pop-canopy h6:nth-child(1) {
    color: var(--neutrals-n-600, #344563);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  .pop-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
    margin-right: 32px;
  }

  .pop-para p {
    color: var(--neutrals-n-600, #344563);
    font-size: 16px;
    line-height: 30px;
    margin-left: 24px;
    margin-right: 19px;
    margin-top: 30px;
  }

  .pop-languages ul {
    display: flex;
    gap: 8px;
    padding-right: 20px;
    margin-top: 30px;
  }

  .pop-languages ul li {
    list-style: none;
    color: var(--primary-b-400, #6070ff);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    padding: 4px 12px;
  }

  .pop-button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .pop-button button {
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    padding: 12px;
    background: #fff;
    cursor: pointer;
  }

  .pop-button button:hover {
    color: #fff;
    background: var(--theme-1-primary-colors-2, #6070ff);
  }

  .pop-button button:active {
    color: #fff;
    background: var(--theme-1-primary-colors-1, #2230d2);
  }

  .pop-button button .white {
    display: none;
  }

  .pop-button button:hover .white {
    display: inline-block;
  }

  .pop-button button:hover .purple {
    display: none;
  }

  /* ----------------------------------------------------- */

  /* <!----------- About Myself ----------> */

  .about {
    margin-top: 120px;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10%;
    gap: 2%;
    border-radius: 0 70px 0 0;
  }

  .icon {
    display: flex;
    margin: 20px 0;
    list-style-type: none;
    width: 8px;
    height: 8px;
    gap: 15px;
    margin-top: -9px;
  }

  .about > aside {
    width: 200%;
    padding: 0 2%;
  }

  .buton {
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 5px 2px;
    width: 108px;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 5px;
  }

  .js {
    width: 24%;
  }

  .js > p {
    font-size: 9px;
    line-height: 1px;
    margin: 6px 0;
  }

  .work {
    margin-top: 90px;
  }

  hr {
    margin: 5px 0;
  }

  .skill {
    margin-top: 20px;
  }

  h5 {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
  }

  .hello > h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 15px;
    text-align: left;
    color: #091e42;
  }

  .software1 {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #344563;
    margin: 15px 0;
  }

  .connect1 {
    font-size: 10px;
    font-weight: 500;
    line-height: 4px;
    text-align: left;
    color: #7f8cff;
    margin: 0 0 20px 0;
  }

  /* <!----------- contact me ----------> */

  .myself-3 {
    background-color: white;
  }

  input {
    height: 28px;
    width: 76%;
    margin: 0 12%;
    border: 1px solid #cfd8dc;
  }

  .myself {
    background-color: #6070ff;
    border-radius: 70px 0 0 0;
    padding: 5% 1% 5% 5%;
  }

  .last {
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: white;
  }

  .end {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: white;
  }

  .buttonm {
    background-color: white;
    font-weight: 500;
    font-size: 11px;
    line-height: 4px;
    width: 25%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #6070ff;
    padding: 5px;
    border-radius: 5px;
    margin: 0 38%;
  }

  .touch {
    height: 53vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 25%;
  }
}

/* -----------------------------------------------------Mobile Version--------------------------------------------------------- */

@media screen and (max-width: 767px) {
  .material {
    background-image: url("image/header-shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 5%;
  }

  .top-ground {
    display: none;
  }

  .intro {
    background-color: white;
    border-radius: 0 0 0 70px;
  }

  .raj {
    border-radius: 0 0 0 4.375rem;
    background-color: white;
  }

  .see {
    margin-top: 20px;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #091e42;
  }

  .canopy {
    font-size: 18px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 247px;
    margin: 15px 0;
  }

  header {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 6% 0 5%;
  }

  .js > img {
    margin-right: 12px;
    border-radius: 25px;
  }

  .skill > img {
    margin-left: 13.875rem;
  }

  .myself > img {
    right: 0;
    margin: auto;
    z-index: 1;
    height: 712px;
    width: 60%;
    position: absolute;
  }

  .pop-data img {
    width: 24px;
    height: 24px;
    margin-top: 32px;
    margin-right: 32px;
  }

  .pop-img img {
    margin-left: 6px;
  }

  .pop-button button img {
    vertical-align: middle;
  }

  .nature1 > img:hover {
    transform: scale(1.05);
  }

  .software {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .logo {
    color: #6070ff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    margin: 55px 4px;
    text-decoration: none;
  }

  input[type="text"] {
    padding: 10px;
    color: #172b4d;
  }

  input[type="email"] {
    padding: 10px;
    color: #172b4d;
  }

  input[type="text"]:hover {
    transform: skewX(20deg);
  }

  input[type="email"]:hover {
    transform: skewX(20deg);
  }

  .logo:hover {
    transform: rotate(1080deg);
    transition: 10s;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .box4 {
    display: none;
  }

  ul li .box4 {
    display: none;
  }

  .nature {
    display: none;
  }

  .social {
    display: flex;
    float: left;
    margin-top: -5px;
    list-style-type: none;
  }

  li {
    list-style: none;
  }

  .connect,
  .connect1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #7f8cff;
    margin-top: 10px;
  }

  .master {
    margin-bottom: 6rem;
  }

  /* -----------------------pop 1----- */

  /* CARDS */
  .data-container {
    display: grid;
    gap: 3.5rem;
  }

  .photo {
    display: grid;
    grid-template-rows: auto;
    order: 0;
    flex-grow: 0;
    width: 100%;
    background: white;
    border-radius: 16px;
  }

  .data-boss {
    padding: 16px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
    margin: 20px;

    /* ----- */
  }

  .data-header h3 {
    color: var(--neutrals-n-800, #172b4d);
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }

  .data-head {
    margin: 15px 0;
  }

  .data-canopy {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .data-canopy h6,
  div {
    color: var(--neutrals-n-100, #7a869a);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }

  .pop-canopy h6,
  div {
    color: var(--neutrals-n-100, #7a869a);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }

  .data-canopy h6:nth-child(1) {
    color: var(--neutrals-n-600, #344563);
    text-transform: uppercase;
  }

  .data-para {
    color: var(--neutrals-n-600, #344563);
    font-size: 15px;
    line-height: 24px;
    margin-top: 10px;
  }

  .languages ul {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .hambar li a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: white;
  }

  .fan > li {
    margin-top: 12px;
    list-style: none;
    width: 100%;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
  }

  .dan li {
    list-style-type: none;
  }

  .hambar {
    width: 60px;
    position: fixed;
    top: 80px;
    left: 6%;
    cursor: pointer;
    z-index: 100;
  }

  .hambar li {
    padding-top: 10px;
  }

  .languages ul li {
    list-style: none;
    color: var(--primary-b-400, #6070ff);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    padding: 4px;
  }

  .button-cd {
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    padding: 12px;
    background: #fff;
    cursor: pointer;
  }

  .button-cd:hover {
    color: #fff;
    background: var(--theme-1-primary-colors-2, #6070ff);
  }

  .button-cd:active {
    color: #fff;
    background: var(--theme-1-primary-colors-1, #2230d2);
  }

  /* -----------------------popup-------- */

  .popup-container {
    display: none;
    padding: 5px;
    z-index: 99999;
    background-color: #c1c7d0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }

  .pop-data-container {
    border-radius: 16px;
    border: 1px solid var(--neutrals-n-30-l, #ebecf0);
    background: var(--white, #fff);
    box-shadow: 0 48px 48px 0 rgba(37, 47, 137, 0.08);
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .open-window {
    display: block;
  }

  .pop-data {
    display: flex;
    justify-content: space-between;
  }

  .pop-data h2 {
    color: var(--theme-1-neutrals-1, #091e42);
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 16px;
    margin-left: 10px;
  }

  .pop-canopy {
    display: flex;
    gap: 1%;
    margin-left: 16px;
    align-items: flex-end;
  }

  .pop-canopy h6:nth-child(1) {
    color: var(--neutrals-n-600, #344563);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  .pop-description {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }

  .pop-para p {
    color: var(--neutrals-n-600, #344563);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 16px;
    overflow-y: auto;
    max-height: 50vh;
  }

  .pop-languages ul {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    margin: 10px 0 10px 16px;
    gap: 8px;
  }

  .pop-languages ul li {
    list-style: none;
    color: var(--primary-b-400, #6070ff);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    padding: 4px 12px;
    text-align: center;
  }

  .pop-button {
    display: flex;
    gap: 5px;
  }

  .pop-button button {
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    padding: 15px 15px;
    background: #fff;
    cursor: pointer;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .pop-button button:hover {
    color: #fff;
    background: var(--theme-1-primary-colors-2, #6070ff);
  }

  .pop-button button:active {
    color: #fff;
    background: var(--theme-1-primary-colors-1, #2230d2);
  }

  .pop-button button .white {
    display: none;
  }

  .pop-button button:hover .white {
    display: inline-block;
  }

  .pop-button button:hover .purple {
    display: none;
  }

  /* -------------------------- */

  .about {
    padding: 100px 5%;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 85px;
    border-radius: 0 70px 0 0;
  }

  .software1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .icon {
    display: flex;
    gap: 24px;
    margin-top: 20px;
    list-style-type: none;
  }

  .buton {
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 12px;
    width: 10rem;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .ground1 {
    display: none;
  }

  h5 {
    margin-bottom: 35px;
    height: 24px;
    left: 12px;
    right: 78px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #000;
    margin-top: 40px;
  }

  .js {
    position: absolute;
    height: 64px;
    left: 8%;
    margin-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .fan {
    width: 100%;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .work {
    margin-top: 200px;
    margin-bottom: 1.5rem;
  }

  .skill {
    margin: 1.5rem 0;
  }

  .myself {
    background-color: #6070ff;
    border-radius: 70px 0 0 0;
    height: 779px;
  }

  .touch {
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  .form1 {
    display: flex;
    flex-direction: column;
  }

  .myself-3 {
    background-color: white;
  }

  .last {
    padding-top: 105px;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    margin-left: 10%;
  }

  .end {
    margin: 10px 14px 45px 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
  }

  input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cfd8dc;
  }

  textarea {
    padding: 10px;
    width: 100%;
    height: 10.5rem;
    border-radius: 10px;
    color: #b3bac5;
  }

  .buttonm {
    float: left;
    width: 147px;
    height: 48px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #6070ff;
    background-color: #fff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
  }

  /* ------------------------hamburger--------------------- */
  .ham {
    background-color: #396df2d3;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    display: none;
  }

  .navbar1 {
    background-color: #6070ff;
    backdrop-filter: blur(5px);
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 99;
  }

  #menuIcon {
    width: 60px;
    position: fixed;
    top: 40px;
    right: 2%;
    background-color: #6070;
    cursor: pointer;
    z-index: 100;
    border: none;
  }
}
