* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.boss {
  background-color: #f4f5f7;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 72px;
  text-align: center;
  background-color: white;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    color: #6070ff;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 42px;
    text-align: center;
    background-color: white;
  }
}

.container {
  list-style-type: none;
  display: flex;
}

.container > li {
  margin: 0 1rem;
  cursor: pointer;
}

.container > li > a {
  text-decoration: none;
  color: #344563;
}

.master {
  background-color: white;
  padding: 1% 0% 3% 2%;
  border-radius: 0 0 0 70px;
}

.intro {
  background-image: url(image/Header\ bg@2x.jpg);
  background-position: cover;
  background-repeat: repeat;
  background-size: cover;
  height: 104vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material {
  margin: 10% 16%;
}

.see {
  margin-top: 100px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .see {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    font-family: "Poppins", sans-serif;
  }

  .intro {
    background-image: url(image/Header\ bg@2x.jpg);
    background-position: cover;
    background-repeat: repeat;
    background-size: cover;
    height: 36vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.software {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  margin: 18px 0;
}

@media screen and (min-width: 768px) {
  .software {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
    margin: 5px 0 15px 0;
  }
}

.connect {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
}

@media screen and (min-width: 768px) {
  .connect {
    font-size: 10px;
    font-weight: 500;
    line-height: 4px;
    text-align: left;
    color: #7f8cff;
  }
}

.social {
  list-style-type: none;
  display: flex;
}

.social > li {
  margin: 15px 22px 5px 0;
}

@media screen and (min-width: 768px) {
  .social li {
    margin: 5px 2px 0 0;
    padding: 5px 10px 0 0;
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .social li a {
    width: 5px;
    height: 5px;
  }
}

@media screen and (min-width: 768px) {
  nav ul li {
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
  }

  .container li {
    margin: 0 0.4rem;
  }

  ul li a img {
    width: 10px;
    height: 10px;
  }

  ul li a {
    padding: 1px;
  }
}

/* <!-- ------------  Tonic  ------------ --> */

.boss2 {
  display: grid;
  grid-template-rows: auto;
  margin: 5% 0%;
}

.desk {
  display: grid;
  grid-template-columns: 100% 100%;
}

.tonic {
  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
  margin: 5% 10%;
  border-radius: 10px;
  column-gap: 1%;
}

.tonic2 {
  padding: 5% 3%;
}

.tonic3 {
  padding-left: 5%;
}

.nature {
  padding: 3%;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #091e42;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #091e42;
  }

  .tonic3 {
    padding-left: 10%;
  }

  .tonic4 {
    padding-right: 2%;
  }
}

.canopy {
  display: flex;
  margin: 3% 0 5% 0;
}

.canopy > h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  margin-right: 2%;
}

h5 img {
  margin-bottom: -10px;
}

@media screen and (min-width: 768px) {
  .canopy > h6 {
    font-size: 10px;
    font-weight: 500;
    line-height: 6px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
    margin-right: 2%;
  }

  .canopy > img {
    width: 2%;
    height: 2%;
  }
}

.canopy > img {
  margin-top: 0.5%;
}

.back {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b778c;
  margin: 0 2%;
}

@media screen and (min-width: 768px) {
  .back {
    font-size: 10px;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
    color: #6b778c;
    margin: 0 2%;
  }
}

.daily {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

@media screen and (min-width: 768px) {
  .daily {
    font-size: 8.8px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #344563;
  }
}

.study {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  list-style-type: none;
  display: flex;
}

@media screen and (min-width: 768px) {
  .study {
    font-size: 7px;
    font-weight: 500;
    line-height: 6px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #6070ff;
  }
}

.study > li {
  background-color: #ebebff;
  border-radius: 5px;
  margin: 5% 1.5% 5% 0;
}

@media screen and (min-width: 768px) {
  div ul li {
    background-color: #ebebff;
    padding: 4.5px 5px;
    border-radius: 5px;
  }
}

.button {
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  width: 130px;
  margin-top: 15px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .button {
    background-color: white;
    font-weight: 500;
    font-size: 9px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 6px 2px;
    width: 70px;
    margin-top: 6px;
    border: 1px solid #6070ff;
    border-radius: 5px;
  }
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

button:active {
  color: #ffff;
  background-color: #2230d2;
}

/* <!----------- About Myself ----------> */

.about {
  background-color: white;
  display: flex;
  padding: 10%;
  border-radius: 0 70px 0 0;
}

.about > aside {
  width: 200%;
  padding: 0 2%;
}

.icon > li {
  list-style-type: none;
}

.icon {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  list-style-type: none;
}

.buton {
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  width: 150px;
  margin-top: 15px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

@media screen and (min-width: 767px) {
  .buton {
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 5px 2px;
    width: 108px;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 5px;
  }
}

.dan > li {
  list-style-type: none;
  display: block;
}

.js {
  width: 22%;
}

.js > img {
  border-radius: 20px;
}

.js > p {
  margin: 6px 0;
}

.fan > li {
  list-style-type: none;
}

.fan > li > a {
  float: left;
  background-color: #f7f7f9;
  margin: 0 2% 0 0;
  padding: 6px 5px 7px 5px;
  border-radius: 5px;
}

.work {
  margin-top: 150px;
}

hr {
  margin: 5px 0;
}

.skill {
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .js > img {
    width: 30px;
    height: 30px;
  }

  .js {
    width: 24%;
  }

  .js > p {
    font-size: 9px;
    line-height: 1px;
  }

  .work {
    margin-top: 90px;
  }

  .fan li {
    float: left;
    background-color: #f7f7f9;
    margin: 0 2% 0 0;
    width: 60px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 767px) {
  h5 {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
  }
}

.hello > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #091e42;
}

@media screen and (min-width: 767px) {
  .hello > h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 15px;
    text-align: left;
    color: #091e42;
  }
}

.software1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

@media screen and (min-width: 767px) {
  .software1 {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #344563;
    margin: 15px 0;
  }
}

.connect1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin: 10px 0;
}

@media screen and (min-width: 767px) {
  .connect1 {
    font-size: 10px;
    font-weight: 500;
    line-height: 4px;
    text-align: left;
    color: #7f8cff;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .icon li {
    padding: 1px 1px 0 0;
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .icon li a {
    width: 8px;
    height: 8px;
  }

  .icon {
    gap: 15px;
    margin-top: -9px;
  }
}

/* <!----------- contact me ----------> */

.myself-3 {
  background-color: white;
}

.touch {
  background-image: url(image/contact\ form\ background\ shapes.svg);
  height: 721px;
  padding: 5% 25%;
}

.last {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: white;
}

.end {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 767px) {
  .last {
    margin-top: -30px;
    font-size: 25px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    color: white;
  }

  .end {
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: white;
    width: 100%;
  }

  .touch {
    background-image: url(image/contact\ form\ background\ shapes.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 38vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

input {
  height: 48px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #cfd8dc;
}

@media screen and (min-width: 767px) {
  input {
    height: 28px;
    width: 76%;
    margin: 0 12%;
    border: 1px solid #cfd8dc;
  }
}

input[type="text"] {
  padding: 10px;
  margin-top: 16px;
}

input[type="email"] {
  padding: 10px;
  margin-top: 14px;
}

textarea {
  width: 76%;
  margin: 4% 12% 2.2% 12%;
  height: 5.5rem;
}

.myself {
  background-color: #6070ff;
  border-radius: 70px 0 0 0;
  padding: 5% 3%;
}

.buttonm {
  background-color: white;
  font-weight: 500;
  margin: 0 38%;
  font-size: 16px;
  line-height: 24px;
  width: 20%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
  margin-top: 27px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
}

@media screen and (min-width: 767px) {
  .buttonm {
    background-color: white;
    font-weight: 500;
    font-size: 11px;
    line-height: 4px;
    width: 25%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #6070ff;
    margin-top: 0;
    padding: 5px;
    border-radius: 5px;
  }
}

.buttonm:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

.buttonm:active {
  color: #ffff;
  background-color: #2230d2;
}
